@model wspay_v2.Models.Payment

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Payment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PaymentId" />
            <div class="form-group">
                <label asp-for="ShopID" class="control-label"></label>
                <input asp-for="ShopID" class="form-control" />
                <span asp-validation-for="ShopID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShoppingCartID" class="control-label"></label>
                <input asp-for="ShoppingCartID" class="form-control" />
                <span asp-validation-for="ShoppingCartID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Version" class="control-label"></label>
                <input asp-for="Version" class="form-control" />
                <span asp-validation-for="Version" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalAmount" class="control-label"></label>
                <input asp-for="TotalAmount" class="form-control" />
                <span asp-validation-for="TotalAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Signature" class="control-label"></label>
                <input asp-for="Signature" class="form-control" />
                <span asp-validation-for="Signature" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReturnURL" class="control-label"></label>
                <input asp-for="ReturnURL" class="form-control" />
                <span asp-validation-for="ReturnURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CancelURL" class="control-label"></label>
                <input asp-for="CancelURL" class="form-control" />
                <span asp-validation-for="CancelURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReturnErrorURL" class="control-label"></label>
                <input asp-for="ReturnErrorURL" class="form-control" />
                <span asp-validation-for="ReturnErrorURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
